// Archive 
@import "base";
@import "../vendor/include-media.scss";

.archive .site-main {
    margin-bottom: $margin_4x;
}

/* Archive Styles (based on partials). 
------------------------------------------------------------------------------ */

.lcm-posts {

    &.grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: $margin_2x $grid-gap;

        @include media(">=small") {
            grid-template-columns: 1fr 1fr;
        }

        @include media(">=medium") {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.lcm-post {
    display: flex;
    flex-flow: column;

    // @include media('>=tablet') {
    //     flex-flow: row;
    // }

    .lcm-post__image-link img {
        border-radius: $border-radius;
    }

    .lcm-post__title {
        line-height: 1;
        margin: 0 0 $base-margin 0;
        
        a {
            @include font-sizes(20px, 22px, 22px);
            text-decoration: none;
            color: $grey_9;
            font-weight: 400;
            
            &:hover {
                color: $primary-color;;
            }
        }
    }

    .lcm-post__category {
        color: $grey_6;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        margin: $base-margin / 2 0 0 0;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .lcm-post__excerpt {
        font-size: 17px;
    }

	.lcm-post__read-more-link {
		text-decoration: none;
		font-size: 60%;
		text-transform: uppercase;

		&::after {
			content: "\2192";
			display: inline-block;
			margin-left: 4px;
		}
	}
}

/* Archive Header
--------------------------------------------- */

.archive-description {
	width: 100%;
	margin: 0 auto $margin_4x;

	& > *:last-child {
		margin-bottom: 0;
	}

    // Archive Title & decoration
	.archive-title {
        position: relative;
        @include font-sizes(1.75rem, 2rem, 2.3rem);
        margin-bottom: 2.2rem;

        &::after {
            background: #73A3A5;
            content: "";
            display: block;
            width: 100px;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(1rem);
        }
    }

    // Archive description
    p { 
        font: italic 500 1.25rem $sans-serif;
        color: $secondary-color;
    }

}

.author-archive-description {

	.avatar {
		border-radius: 50%;
		display: block;
		margin: 0 auto 16px;
	}

	h3:last-child {
		@include media(">=tablet") {
			margin-top: 48px;
		}
	}
}

.author-title {
	color: $grey_8;
	@include font-sizes( 18px, 20px );
	font-weight: 700;
	text-transform: uppercase;
}


/* Pagination
--------------------------------------------- */

.pagination {
    grid-column: 1 / -1;
	border-top: 1px solid $border-color;
	font-size: 16px;
	text-align: center;
	padding-top: $margin_2x;
    margin-top: $block-margin;

	ul {
		margin: 0;

		li {
			list-style-type: none;
			display: inline-block;

			a {
				color: $base-color;
                background-color: $grey_4;
				border-radius: 5px;
				display: block;
                font-weight: 300;
				text-decoration: none;
				width: 32px;
				height: 32px;
				line-height: 32px;
				text-align: center;
                margin: 0 3px;
			}

			&.pagination-next a,
			&.pagination-previous a {
				width: max-content;
                padding: 0 1rem;
                margin: 0 2rem;
			}

			&:hover > a,
            &.active > a {
				background: $primary-color;
				color: $white;
			}
		}
	}
}