@import "../modules/helpers";

/* Typographical Elements
--------------------------------------------- */

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    //   @include font-sizes(16px, 17px, 18px);
    font-size: 16px;
}

body {
    @include base-style();
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
    @include transition;
}

a {
  color: $primary-color;
  text-decoration: underline;
  text-decoration-color: $grey-7;
  @include transition;
  font-weight: 500;

  &:hover {
    color: $grey-7;
  }

  svg {
    @include transition;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-bottom: 1px solid currentColor;
  clear: both;
  color: $grey_3;
  margin: 1.65em auto;
}

strong {
  font-weight: 500;
}

em,
i {
  font-style: italic;
}

.clearfix {
  @include clearfix;
}

/* Paragraph
--------------------------------------------- */

p {
  margin: 0 0 28px;
  padding: 0;
}

.has-small-font-size {
    font-size: 0.875rem;
}

.has-normal-font-size {
    font-size: 1rem;
}

.has-large-font-size {
    font-size: 1.25rem;
}

.has-huge-font-size {
    font-size: 1.5rem;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $grey_9;
    font-family: $josefin, $sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 $block-margin;
    scroll-margin-top: 5rem; // for the header to not hide the title on anchor links. https://css-tricks.com/fixed-headers-and-jump-links-the-solution-is-scroll-margin-top/

    .entry-content > & {
        margin: 1.1em 0 .65em;
    }

    a {
        color: $grey-9;

        &:hover {
            color: $primary-color;
            text-decoration: none;
        }
    }

    &:focus {
        outline: none;
    }

    strong {
        font-weight: 700; // fix the default for Wotfard typo.
    }

    /* Green line
    --------------------------------------------- */
    &.green-line {
        position: relative;
        margin: 0 0 .8em;

        &::after {
            content: '';
            position: absolute;
            bottom: -.4em;
            left: 0;
            width: 150px;
            height: 4px;
            background-color: $secondary-color;
        }
    }
}

h1 {
    @include font-sizes(2.125rem, 2.375rem, 2.625rem);
}

h2 {
    @include font-sizes(1.75rem, 2rem, 2.12rem);
}

h3 {
    @include font-sizes(1.375rem, 1.625rem, 1.75rem);
}

h4{
    @include font-sizes(1.25rem, 1.5rem, 1.625rem);
}

h5 {
    @include font-sizes(1.125rem, 1.375rem);
}

h6 {
    @include font-sizes(1rem, 1.2rem);
    text-transform: uppercase;
}


/* Gradients
--------------------------------------------- */
.has-light-purple-to-pink-gradient-background {
    background: linear-gradient( to bottom, rgba(53, 92, 125), rgba(108, 91, 123), rgba(193, 102, 119) );
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

figure {
  margin: 0;
}
