// Custom Blocks

/* recursos - $ columns custom block for home page. 
----------------------------------------------------------------------- */

.recursos-block{
    
    @include media('<=small') {
        padding: 0 12px;
    }

    .recursos-block__columns {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: $grid-gap;
        max-width: 532px;
        margin: $block-margin auto;

        @include media('>=tablet') {
            max-width: 670px;
        }

        @include media('>=1020px') {
            max-width: 100%;
        }
    }

    .recursos-block__column__inner{
        height: 350px;
        border-radius: $border-radius;
        position: relative;
        overflow: hidden;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.22),0 2px 10px 0 rgba(0,0,0,0.18);
        // box-shadow: 0 0.4px 2.3px rgba(0, 0, 0, 0.093), 0 1.3px 5.1px rgba(0, 0, 0, 0.067), 0 6px 17px rgba(0, 0, 0, 0.12);

        &:hover {
            // Small effect on hover for the title
            .recursos-block__title {
                transform: translateY(-22px) translateX(20px);
            }
        }

        @include media('>=tablet') {
            height: 450px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 200px;
            bottom: 0;
            opacity: .9;
            background: linear-gradient(to top, rgba(4,4,4,0.55), rgba(1,1,1,0));
            z-index: 5;
        }
    }
    .recursos-block__image {
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }

    .recursos-block__title {
        font-family: $josefin, $sans-serif;
        font-weight: 700;
        @include font-sizes(18.6px, 20px);
        color: $white;
        text-align: left;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        @include transition;
        transform: translateY(-15px) translateX(20px);
        z-index: 50;
    }
}

