@charset "UTF-8";
/**
 * Brand Color
 * 
 * Use: brand-color( 'blue', 'darken' );
 * The color has to be declare in the variable $brandcolors in base.scss
 *
 */
/**
 * Brand Color
 * 
 * Use: brand-color( 'blue', 'darken' );
 * The color has to be declare in the variable $brandcolors in base.scss
 *
 */
/**
 * Button Reset
 *
 */
/**
 * Grid, Center Last
 *
 */
/**
 * Margin, No Edge
 * Removes left margin from first item, right margin from last item
 */
/**
 * Icon Position
 *
 */
/**
 * Block Cover
 * Creates a block that covers the full width/height of parent div. Typically used on a :before pseudo element
 */
/**
 * Placeholder Color
 *
 */
/**
 * Clearfix
 *
 */
/**
 * Font Sizes
 *
**/
/**
 * Columns
 *
 */
/* Typographical Elements
--------------------------------------------- */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  color: #414243;
  font-family: "Wotfard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.55;
  overflow-x: hidden;
}
@media print {
  body {
    font-family: sans-serif;
  }
}

button,
input:focus,
input[type=button],
input[type=reset],
input[type=submit],
textarea:focus,
.button,
.gallery img {
  transition: all 0.2s ease-in-out;
}

a {
  color: #E97171;
  text-decoration: underline;
  -webkit-text-decoration-color: #757575;
          text-decoration-color: #757575;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}
a:hover {
  color: #757575;
}
a svg {
  transition: all 0.2s ease-in-out;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-bottom: 1px solid currentColor;
  clear: both;
  color: #eeeeee;
  margin: 1.65em auto;
}

strong {
  font-weight: 500;
}

em,
i {
  font-style: italic;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Paragraph
--------------------------------------------- */
p {
  margin: 0 0 28px;
  padding: 0;
}

.has-small-font-size {
  font-size: 0.875rem;
}

.has-normal-font-size {
  font-size: 1rem;
}

.has-large-font-size {
  font-size: 1.25rem;
}

.has-huge-font-size {
  font-size: 1.5rem;
}

/* Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414243;
  font-family: "Josefin Sans", "Wotfard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.25rem;
  scroll-margin-top: 5rem;
  /* Green line
  --------------------------------------------- */
}
.entry-content > h1,
.entry-content > h2,
.entry-content > h3,
.entry-content > h4,
.entry-content > h5,
.entry-content > h6 {
  margin: 1.1em 0 0.65em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #414243;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #E97171;
  text-decoration: none;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus {
  outline: none;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 700;
}
h1.green-line,
h2.green-line,
h3.green-line,
h4.green-line,
h5.green-line,
h6.green-line {
  position: relative;
  margin: 0 0 0.8em;
}
h1.green-line::after,
h2.green-line::after,
h3.green-line::after,
h4.green-line::after,
h5.green-line::after,
h6.green-line::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: 0;
  width: 150px;
  height: 4px;
  background-color: #73A3A5;
}

h1 {
  font-size: 2.125rem;
}
@media (min-width: 48rem) {
  h1 {
    font-size: 2.375rem;
  }
}
@media (min-width: 60rem) {
  h1 {
    font-size: 2.625rem;
  }
}

h2 {
  font-size: 1.95rem;
}
@media (min-width: 48rem) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 60rem) {
  h2 {
    font-size: 2.38rem;
  }
}

h3 {
  font-size: 1.375rem;
}
@media (min-width: 48rem) {
  h3 {
    font-size: 1.625rem;
  }
}
@media (min-width: 60rem) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.25rem;
}
@media (min-width: 48rem) {
  h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 60rem) {
  h4 {
    font-size: 1.625rem;
  }
}

h5,
h6 {
  font-size: 1.125rem;
}
@media (min-width: 48rem) {
  h5,
h6 {
    font-size: 1.375rem;
  }
}

h6 {
  text-transform: uppercase;
}

/* Gradients
--------------------------------------------- */
.has-light-purple-to-pink-gradient-background {
  background: linear-gradient(to bottom, #355c7d, #6c5b7b, #c16677);
}

/* Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

figure {
  margin: 0;
}

/* Button
--------------------------------------------- */
.wp-block-button__link {
  border: 2px solid #E97171;
  border-radius: 10px;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 0.56em 1.95em;
  text-decoration: none;
}
.is-style-full .wp-block-button__link, .wp-block-button__link.full {
  display: block;
  width: 100%;
}
.wp-block-button__link:not(.has-text-color) {
  color: white;
}
.wp-block-button__link:not(.has-text-color):hover {
  color: white;
}
.wp-block-button__link:not(.has-background) {
  background-color: #E97171;
}
.wp-block-button__link:not(.has-background):hover, .wp-block-button__link:not(.has-background):focus {
  border: 2px solid #e24545;
  background-color: #e24545;
}
.is-style-outline > .wp-block-button__link:not(.has-text-color), .wp-block-button__link.is-style-outline {
  border: 2px solid #E97171;
  color: #E97171;
  background-color: transparent;
}
.is-style-outline > .wp-block-button__link:not(.has-text-color):hover, .is-style-outline > .wp-block-button__link:not(.has-text-color):focus, .wp-block-button__link.is-style-outline:hover, .wp-block-button__link.is-style-outline:focus {
  border: 2px solid #e24545;
  background-color: #e24545;
  color: #ffffff;
}
.wp-block-button__link.has-red-color:hover, .wp-block-button__link.has-red-color:focus {
  color: #E97171;
}
.wp-block-button__link.has-red-background-color:hover, .wp-block-button__link.has-red-background-color:focus {
  background-color: #e24545;
}
.wp-block-button__link.has-green-color:hover, .wp-block-button__link.has-green-color:focus {
  color: #73A3A5;
}
.wp-block-button__link.has-green-background-color:hover, .wp-block-button__link.has-green-background-color:focus {
  background-color: #5a898b;
}
.wp-block-button__link.has-grey-color:hover, .wp-block-button__link.has-grey-color:focus {
  color: #f2f3f8;
}
.wp-block-button__link.has-grey-background-color:hover, .wp-block-button__link.has-grey-background-color:focus {
  background-color: #d1d4e6;
}
.wp-block-button__link.has-dark-grey-color:hover, .wp-block-button__link.has-dark-grey-color:focus {
  color: #414243;
}
.wp-block-button__link.has-dark-grey-background-color:hover, .wp-block-button__link.has-dark-grey-background-color:focus {
  background-color: #282929;
}

/* Blockquote
--------------------------------------------- */
blockquote.wp-block-quote {
  position: relative;
  padding: 4% 0 0 4%;
}
blockquote.wp-block-quote::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: -35px;
  background: transparent url(../icons/utility/quote.svg) no-repeat top left;
  background-size: 120px;
  text-align: left;
  opacity: 0.1;
}
blockquote.wp-block-quote p {
  color: #414243;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
}
@media (min-width: 48rem) {
  blockquote.wp-block-quote p {
    font-size: 22px 24px;
  }
}
blockquote.wp-block-quote cite {
  color: #414243;
  display: block;
  font-size: 85%;
  font-weight: 700;
  margin-top: 12px;
  opacity: 0.5;
  text-transform: uppercase;
}
blockquote.wp-block-quote p:last-of-type {
  margin-bottom: 0;
}

.wp-block-pullquote {
  text-align: left;
  padding: 0;
  margin: 1.25rem auto;
}
.wp-block-pullquote blockquote {
  margin: 0;
  padding: 4% 8%;
  background-color: #f2f3f8;
  border-left: 3px solid #E97171;
}
.wp-block-pullquote blockquote p {
  color: #414243;
  font-size: 19px;
  font-style: italic;
}
@media (min-width: 48rem) {
  .wp-block-pullquote blockquote p {
    font-size: 20px;
  }
}
@media (min-width: 60rem) {
  .wp-block-pullquote blockquote p {
    font-size: 22px;
  }
}

/* Separator
--------------------------------------------- */
.entry-content .wp-block-separator, .editor-styles-wrapper .wp-block-separator,
.entry-content hr,
.editor-styles-wrapper hr {
  position: relative;
  background: transparent;
  border: none;
  width: 100%;
  height: 5px;
  margin: 0;
}
.entry-content .wp-block-separator::before, .editor-styles-wrapper .wp-block-separator::before,
.entry-content hr::before,
.editor-styles-wrapper hr::before {
  background: #73A3A5;
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
}
.entry-content .wp-block-separator.is-style-full, .editor-styles-wrapper .wp-block-separator.is-style-full,
.entry-content hr.is-style-full,
.editor-styles-wrapper hr.is-style-full {
  background: transparent;
  border: none;
  width: 100%;
  height: 32px;
  position: relative;
}
.entry-content .wp-block-separator.is-style-full::before, .editor-styles-wrapper .wp-block-separator.is-style-full::before,
.entry-content hr.is-style-full::before,
.editor-styles-wrapper hr.is-style-full::before {
  background: #e0e0e0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
}
.entry-content h2 + .wp-block-separator, .editor-styles-wrapper h2 + .wp-block-separator,
.entry-content h2 + hr,
.editor-styles-wrapper h2 + hr {
  margin-top: -9px;
}

/* Image and Gallery
--------------------------------------------- */
img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
img.alignleft {
  float: left;
  margin: 0 1.25rem 1.25rem 0;
}
img.alignright {
  float: right;
  margin: 0 0 1.25rem 1.25rem;
}
img.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-image figcaption {
  color: #757575;
  text-align: left;
  font-size: 14px;
  font-style: normal;
}

.site-container .blocks-gallery-grid,
.site-container .wp-block-gallery,
.site-container .wp-block-social-links {
  padding-left: 0;
}

/* Tables
--------------------------------------------- */
.wp-block-table {
  border-collapse: collapse;
  width: 100%;
}
.wp-block-table td, .wp-block-table th {
  padding: 0.5em;
  border: 1px solid;
}

/* Color Options
--------------------------------------------- */
.has-red-color {
  color: #E97171;
}

.has-red-background-color {
  background-color: #E97171;
}

.has-green-color {
  color: #73A3A5;
}

.has-green-background-color {
  background-color: #73A3A5;
}

.has-grey-color {
  color: #f2f3f8;
}

.has-grey-background-color {
  background-color: #f2f3f8;
}

.has-dark-grey-color {
  color: #414243;
}

.has-dark-grey-background-color {
  background-color: #414243;
}

.site-container p.has-background {
  padding: 1.1rem 2.2rem;
}
.site-container p.has-background.box-shadow {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.4);
}

/* Group
--------------------------------------------- */
.wp-block-group .wp-block-group__inner-container {
  max-width: 48rem;
  margin: 0 auto;
}
.wp-block-group .wp-block-group__inner-container:after {
  content: "";
  display: table;
  clear: both;
}
.wp-block-group .wp-block-group__inner-container > *:last-child {
  margin-bottom: 0;
}
.wp-block-group.alignwide .wp-block-group__inner-container, .wp-block-group.alignfull .wp-block-group__inner-container {
  max-width: 75rem;
}
.wp-block-group.has-background:not(.has-grey-background-color) {
  color: #ffffff;
}
.wp-block-group.has-background:not(.has-grey-background-color) h1, .wp-block-group.has-background:not(.has-grey-background-color) h2, .wp-block-group.has-background:not(.has-grey-background-color) h3, .wp-block-group.has-background:not(.has-grey-background-color) h4, .wp-block-group.has-background:not(.has-grey-background-color) h5, .wp-block-group.has-background:not(.has-grey-background-color) h6, .wp-block-group.has-background:not(.has-grey-background-color) p {
  color: #ffffff;
}

.full-width-content .entry-content .wp-block-group,
.full-width-content .entry-content .wp-block-group.alignwide,
.full-width-content .entry-content .wp-block-group.alignfull,
.full-width-content .block-area .wp-block-group,
.full-width-content .block-area .wp-block-group.alignwide,
.full-width-content .block-area .wp-block-group.alignfull,
.content-width .entry-content .wp-block-group,
.content-width .entry-content .wp-block-group.alignwide,
.content-width .entry-content .wp-block-group.alignfull,
.content-width .block-area .wp-block-group,
.content-width .block-area .wp-block-group.alignwide,
.content-width .block-area .wp-block-group.alignfull {
  padding: 40px 1.375rem;
}
@media (min-width: 48rem) {
  .full-width-content .entry-content .wp-block-group,
.full-width-content .entry-content .wp-block-group.alignwide,
.full-width-content .entry-content .wp-block-group.alignfull,
.full-width-content .block-area .wp-block-group,
.full-width-content .block-area .wp-block-group.alignwide,
.full-width-content .block-area .wp-block-group.alignfull,
.content-width .entry-content .wp-block-group,
.content-width .entry-content .wp-block-group.alignwide,
.content-width .entry-content .wp-block-group.alignfull,
.content-width .block-area .wp-block-group,
.content-width .block-area .wp-block-group.alignwide,
.content-width .block-area .wp-block-group.alignfull {
    padding: 60px 1.375rem;
  }
}
@media (min-width: 60rem) {
  .full-width-content .entry-content .wp-block-group,
.full-width-content .entry-content .wp-block-group.alignwide,
.full-width-content .entry-content .wp-block-group.alignfull,
.full-width-content .block-area .wp-block-group,
.full-width-content .block-area .wp-block-group.alignwide,
.full-width-content .block-area .wp-block-group.alignfull,
.content-width .entry-content .wp-block-group,
.content-width .entry-content .wp-block-group.alignwide,
.content-width .entry-content .wp-block-group.alignfull,
.content-width .block-area .wp-block-group,
.content-width .block-area .wp-block-group.alignwide,
.content-width .block-area .wp-block-group.alignfull {
    padding: 80px 1.375rem;
  }
}

/* Cover
--------------------------------------------- */
.full-width-content .entry-content > *.wp-block-cover.alignwide, .full-width-content .entry-content > *.wp-block-cover.alignfull, .content-width .entry-content > *.wp-block-cover.alignwide, .content-width .entry-content > *.wp-block-cover.alignfull,
.full-width-content .block-area > *.wp-block-cover.alignwide,
.full-width-content .block-area > *.wp-block-cover.alignfull,
.content-width .block-area > *.wp-block-cover.alignwide,
.content-width .block-area > *.wp-block-cover.alignfull {
  padding: 80px 1.375rem;
}

/** Media and Text 
--------------------------------------------- */
@media (min-width: 600px) {
  .full-width-content .entry-content > *.wp-block-media-text.alignwide, .full-width-content .entry-content > *.wp-block-media-text.alignfull, .content-width .entry-content > *.wp-block-media-text.alignwide, .content-width .entry-content > *.wp-block-media-text.alignfull,
.full-width-content .block-area > *.wp-block-media-text.alignwide,
.full-width-content .block-area > *.wp-block-media-text.alignfull,
.content-width .block-area > *.wp-block-media-text.alignwide,
.content-width .block-area > *.wp-block-media-text.alignfull {
    padding: 0;
  }
}
@media (max-width: 599px) {
  .full-width-content .entry-content > * .wp-block-media-text.is-stacked-on-mobile figure, .content-width .entry-content > * .wp-block-media-text.is-stacked-on-mobile figure,
.full-width-content .block-area > * .wp-block-media-text.is-stacked-on-mobile figure,
.content-width .block-area > * .wp-block-media-text.is-stacked-on-mobile figure {
    margin-bottom: 1.25rem;
  }
}

/* Columns
--------------------------------------------- */
/**
 * Brand Color
 * 
 * Use: brand-color( 'blue', 'darken' );
 * The color has to be declare in the variable $brandcolors in base.scss
 *
 */
/**
 * Brand Color
 * 
 * Use: brand-color( 'blue', 'darken' );
 * The color has to be declare in the variable $brandcolors in base.scss
 *
 */
/**
 * Button Reset
 *
 */
/**
 * Grid, Center Last
 *
 */
/**
 * Margin, No Edge
 * Removes left margin from first item, right margin from last item
 */
/**
 * Icon Position
 *
 */
/**
 * Block Cover
 * Creates a block that covers the full width/height of parent div. Typically used on a :before pseudo element
 */
/**
 * Placeholder Color
 *
 */
/**
 * Clearfix
 *
 */
/**
 * Font Sizes
 *
**/
/**
 * Columns
 *
 */
/** Contact Form 7
---------------------------------------------------------------------------- */
.lcm-cf7-form .lcm-cf7-form_columns {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1.25rem;
}
@media (min-width: 48rem) {
  .lcm-cf7-form .lcm-cf7-form_columns {
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }
}
.lcm-cf7-form .lcm-cf7-form__input input {
  margin: 1.25rem 0;
  padding: 14px 36px;
  width: auto;
  min-width: 230px;
  border: none;
  color: #ffffff;
  background-color: #E97171;
}
.lcm-cf7-form .lcm-cf7-form__input input:hover {
  background-color: #e24545;
}

/* Genesis Blocks
---------------------------------------------------------------------------- */
.gb-block-post-grid h2 a {
  text-decoration: none;
}

.gb-block-post-grid .gb-post-grid-items h2 a:hover {
  color: #E97171;
}

@media only screen and (max-width: 510px) {
  .gb-block-container.alignfull::before {
    content: " ";
    display: table;
  }

  .gb-block-container.alignfull::after {
    clear: both;
    content: " ";
    display: table;
  }
}
/* Display Posts Shortcode
-------------------------------------------------------------------------------------- */
/* Entradas grid
--------------------------------------------- */
.entradas {
  display: grid;
  gap: 2rem;
  margin-bottom: 2.2rem;
}
.entry-content .entradas {
  margin: 2.2rem 0 4.4rem;
}
.entradas.archive-grid {
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
}
@media (min-width: 38rem) {
  .entradas.archive-blog {
    grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  }
}

/* Entradas Common styles
--------------------------------------------- */
.entradas .entrada__link {
  font-weight: 300;
  text-decoration: none;
  color: #414243;
}
.entradas .entrada__title {
  font-size: 1.42em;
  font-weight: 600;
  margin: 0.5em 0;
}
.entradas .entrada__content {
  font-weight: 300;
}

/* Posts from "archive-grid" grid.
--------------------------------------------- */
.entrada.grid {
  border-radius: 10px;
  box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.4px 2.3px rgba(0, 0, 0, 0.093), 0 1.3px 5.1px rgba(0, 0, 0, 0.067), 0 6px 17px rgba(0, 0, 0, 0.12);
}
.entrada.grid .entrada__img {
  position: relative;
  padding-bottom: 55%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0.85;
}
.entrada.grid .entrada__meta {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  padding: 0.35em 1.2em;
  border-radius: 10px;
  background-color: #E97171;
  color: #ffffff;
}
.entrada.grid .entrada__header {
  padding: 1.1rem;
}
.entrada.grid .entrada__title a {
  text-decoration: none;
}
.entrada.grid .read-more-link {
  font-weight: 400;
}
.entrada.grid .entrada__content {
  font-size: 0.85em;
  line-height: 1.45;
  margin: 0;
}

/* Posts from "archive-blog" grid.
--------------------------------------------- */
.entrada.blog {
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 38rem) {
  .entrada.blog {
    flex-flow: column nowrap;
  }
}
.entrada.blog .entrada__img {
  flex: 175px 1 0;
  margin-right: 1.25rem;
}
@media (max-width: 38rem) {
  .entrada.blog .entrada__img {
    flex-shrink: 1;
    margin-bottom: 10px;
  }
}
.entrada.blog .entrada__title {
  font-size: 1.45rem;
  margin-top: 0;
}
.entrada.blog .entrada__title a {
  text-decoration: none;
}
.entrada.blog .entrada__content {
  font-size: 97%;
}
.entrada.blog .read-more-link {
  display: block;
  margin-top: 0.5em;
  text-decoration: none;
}
.entrada.blog .read-more-link::after {
  content: "➜";
  font-size: 0.8em;
  margin-left: 0.5em;
  transition: all 0.2s ease-in-out;
}
.entrada.blog .read-more-link:hover::after {
  margin-left: 1em;
}

/* Genesis Simple FAQ
--------------------------------------------- */
.gs-faq__question {
  background: transparent;
  border-bottom: 1px solid #eee;
  color: #414243;
  padding-left: 0;
  padding-right: 0;
}
.gs-faq__question:focus, .gs-faq__question:hover {
  background: transparent;
  color: #E97171;
}
.gs-faq__question::after {
  content: "";
  font-family: dashicons;
  /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  float: right;
}
.gs-faq__question.gs-faq--expanded::after {
  content: "";
}

/* recursos - $ columns custom block for home page. 
----------------------------------------------------------------------- */
@media (max-width: 38rem) {
  .recursos-block {
    padding: 0 12px;
  }
}
.recursos-block .recursos-block__columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  max-width: 532px;
  margin: 1.25rem auto;
}
@media (min-width: 48rem) {
  .recursos-block .recursos-block__columns {
    max-width: 670px;
  }
}
@media (min-width: 1020px) {
  .recursos-block .recursos-block__columns {
    max-width: 100%;
  }
}
.recursos-block .recursos-block__column__inner {
  height: 350px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 48rem) {
  .recursos-block .recursos-block__column__inner {
    height: 450px;
  }
}
.recursos-block .recursos-block__column__inner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  bottom: 0;
  opacity: 0.9;
  background: linear-gradient(to top, rgba(4, 4, 4, 0.55), rgba(1, 1, 1, 0));
  z-index: 5;
}
.recursos-block .recursos-block__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.recursos-block .recursos-block__title {
  font-family: "Josefin Sans", "Wotfard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: -44px;
  text-align: left;
  position: absolute;
  padding: 0 0 10px 25px;
  z-index: 50;
}
@media (min-width: 48rem) {
  .recursos-block .recursos-block__title {
    font-size: 18px;
  }
}

/**
 * Brand Color
 * 
 * Use: brand-color( 'blue', 'darken' );
 * The color has to be declare in the variable $brandcolors in base.scss
 *
 */
/**
 * Brand Color
 * 
 * Use: brand-color( 'blue', 'darken' );
 * The color has to be declare in the variable $brandcolors in base.scss
 *
 */
/* Singular
---------------------------------------------------------------------------------------------------- */
/* Entry Content
--------------------------------------------- */
.entry-content ul, .entry-content ol {
  padding-left: 1.5rem;
}
.entry-content ul li, .entry-content ol li {
  padding-bottom: 0.5rem;
}
.entry-content ul li:last-child, .entry-content ol li:last-child {
  padding-bottom: 0;
}
.entry-content ul li ul, .entry-content ul li ol, .entry-content ol li ul, .entry-content ol li ol {
  padding-top: 0.5rem;
}
.entry-content ul.wp-block-gallery, .entry-content ol.wp-block-gallery {
  padding-left: 0;
}
.entry-content ul.wp-block-gallery li, .entry-content ol.wp-block-gallery li {
  padding-bottom: 0;
}

.entry-content > *,
.editor-styles-wrapper > * {
  margin: 1.25rem 0;
  max-width: 100%;
}
.entry-content > *:first-child,
.editor-styles-wrapper > *:first-child {
  margin-top: 0;
}
.entry-content > *:last-child,
.editor-styles-wrapper > *:last-child {
  margin-bottom: 0;
}
.full-width-content .entry-content > *.alignwide, .content-width .entry-content > *.alignwide,
.full-width-content .editor-styles-wrapper > *.alignwide,
.content-width .editor-styles-wrapper > *.alignwide {
  margin: calc( 2 * 1.25rem ) calc(50% - 50vw);
  max-width: 100vw;
  width: auto;
  padding: 0 1.375rem;
}
@media (min-width: 76.375rem) {
  .full-width-content .entry-content > *.alignwide, .content-width .entry-content > *.alignwide,
.full-width-content .editor-styles-wrapper > *.alignwide,
.content-width .editor-styles-wrapper > *.alignwide {
    margin: calc( 2 * 1.25rem) calc(25% - 25vw);
  }
}
.full-width-content .entry-content > *.alignwide:first-child, .content-width .entry-content > *.alignwide:first-child,
.full-width-content .editor-styles-wrapper > *.alignwide:first-child,
.content-width .editor-styles-wrapper > *.alignwide:first-child {
  margin-top: 0;
}
.full-width-content .entry-content > *.alignfull, .content-width .entry-content > *.alignfull,
.full-width-content .editor-styles-wrapper > *.alignfull,
.content-width .editor-styles-wrapper > *.alignfull {
  margin: calc( 2 * 1.25rem ) calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  padding: 0 1.375rem;
}
.full-width-content .entry-content > *.aligncontent, .content-width .entry-content > *.aligncontent,
.full-width-content .editor-styles-wrapper > *.aligncontent,
.content-width .editor-styles-wrapper > *.aligncontent {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}
.full-width-content .entry-content > *.alignwide .alignwide, .full-width-content .entry-content > *.alignfull .alignwide, .content-width .entry-content > *.alignwide .alignwide, .content-width .entry-content > *.alignfull .alignwide,
.full-width-content .editor-styles-wrapper > *.alignwide .alignwide,
.full-width-content .editor-styles-wrapper > *.alignfull .alignwide,
.content-width .editor-styles-wrapper > *.alignwide .alignwide,
.content-width .editor-styles-wrapper > *.alignfull .alignwide {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.full-width-content .entry-content > *.alignwide .aligncontent, .full-width-content .entry-content > *.alignfull .aligncontent, .content-width .entry-content > *.alignwide .aligncontent, .content-width .entry-content > *.alignfull .aligncontent,
.full-width-content .editor-styles-wrapper > *.alignwide .aligncontent,
.full-width-content .editor-styles-wrapper > *.alignfull .aligncontent,
.content-width .editor-styles-wrapper > *.alignwide .aligncontent,
.content-width .editor-styles-wrapper > *.alignfull .aligncontent {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}
.entry-content > *.alignleft,
.editor-styles-wrapper > *.alignleft {
  /*rtl:ignore*/
  float: left;
  margin: 0 1.25rem 1.25rem 0;
}
.entry-content > *.alignright,
.editor-styles-wrapper > *.alignright {
  /*rtl:ignore*/
  float: right;
  margin: 0 0 1.25rem 1.25rem;
}
.entry-content > *.aligncenter,
.editor-styles-wrapper > *.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.entry-content > *.wp-block-quote, .entry-content > *.post-listing-block,
.editor-styles-wrapper > *.wp-block-quote,
.editor-styles-wrapper > *.post-listing-block {
  margin-top: calc( 2 * 1.25rem);
  margin-bottom: calc( 2 * 1.25rem);
}
.entry-content > *.wp-block-search,
.editor-styles-wrapper > *.wp-block-search {
  max-width: 568px;
  margin-left: auto;
  margin-right: auto;
}

.entry-content > .alignfull:first-child {
  margin-top: 0;
}

/* Entry Meta
--------------------------------------------- */
.entry-author {
  font-size: 14px;
}
.entry-author .avatar {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.entry-author a {
  color: #E97171;
  text-decoration: none;
}
.entry-author a:hover {
  color: #e24545;
}

.entry-meta {
  font-size: 16px;
  margin-bottom: 0;
}
.entry-header .entry-meta {
  margin-bottom: 20px;
}
.entry-footer .entry-meta {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
}
.entry-meta .entry-comments-link::before {
  content: "—";
  margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
  display: block;
}

.breadcrumb {
  font-size: 16px;
  margin-bottom: 24px;
}
.breadcrumb a {
  color: #E97171;
}
.breadcrumb a:hover {
  color: #e24545;
}
.single .breadcrumb {
  border-top: 1px solid #eeeeee;
  padding-top: 32px;
  text-align: center;
}

.author-box {
  position: relative;
  padding-left: 120px;
  min-height: 120px;
}
.archive .author-box {
  grid-column: 1/-1;
  max-width: 48rem;
  margin: 0 auto 2rem;
}
.author-box .author-box-title {
  font-size: 22px;
}
@media (min-width: 48rem) {
  .author-box .author-box-title {
    font-size: 28px;
  }
}
.author-box .avatar {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Post Summary
---------------------------------------------------------------------------------------------------- */
.post-summary {
  margin-bottom: 2rem;
}

.post-summary__title {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.post-summary__title a {
  color: #212223;
  text-decoration: none;
}
.post-summary__title a:hover {
  color: #e24545;
}

.post-summary__image {
  display: block;
}
@media (min-width: 38.1rem) {
  .post-summary__image {
    margin-bottom: 12px;
  }
}

.entry-category {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.entry-category a {
  color: #616161;
  text-decoration: none;
}
.entry-category a:hover {
  color: #e24545;
}

body, p {
  color: #414243;
  font-family: "Wotfard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.55;
  overflow-x: hidden;
}
@media print {
  body, p {
    font-family: sans-serif;
  }
}

/* Post title width */
.editor-post-title__block.wp-block {
  max-width: 48rem;
  /* Post title styling */
}

/* Main column width */
.wp-block {
  max-width: 48rem;
  /* Wide column width */
}
.wp-block[data-align=wide], .wp-block[data-align=full] {
  max-width: none;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 0;
}

.wp-block-image {
  line-height: 0;
}

.wp-block-button.is-style-full,
.wp-block-button.is-style-full .block-editor-rich-text,
div[data-type="core/button"] div[data-block] {
  display: block;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100%;
}

ul, ol {
  padding-left: 1.5rem;
}
ul li, ol li {
  padding-bottom: 0.5rem;
}
ul li:last-child, ol li:last-child {
  padding-bottom: 0;
}
ul li ul, ul li ol, ol li ul, ol li ol {
  padding-top: 0.5rem;
}
ul.wp-block-gallery, ol.wp-block-gallery {
  padding-left: 0;
}
ul.wp-block-gallery li, ol.wp-block-gallery li {
  padding-bottom: 0;
}

body {
  overflow-x: visible;
}

.wp-block.aligncontent {
  max-width: 48rem;
}

.full-width-content .editor-styles-wrapper .wp-block,
.full-width-content .editor-styles-wrapper .editor-post-title__block.wp-block,
.full-width-content .editor-styles-wrapper .wp-block-group:not(.narrow) .wp-block-group__inner-container,
body .editor-styles-wrapper .wp-block[data-align=full] .wp-block[data-align=wide],
body .editor-styles-wrapper .wp-block[data-align=wide] .wp-block[data-align=wide],
body .editor-styles-wrapper .wp-block[data-align=wide] {
  max-width: 75rem;
}

/* Lists
---------------------------------------------------------------------------- */
.editor-block-list__block li {
  line-height: 1.625;
  margin-bottom: 0;
}

/* Preformatted elements
---------------------------------------------------------------------------- */
.wp-block-preformatted pre,
.wp-block-verse pre {
  font-family: monospace;
  font-size: 18px;
  line-height: 1.625 !important;
}

/* Separators
---------------------------------------------------------------------------- */
hr.wp-block-separator {
  border: none;
  border-bottom: 1px solid currentColor;
  color: #eee;
  margin: 1.65em auto;
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
  height: 1px;
}

hr.wp-block-separator.is-style-dots {
  border-width: 0;
  color: #333;
}

/* Tables
---------------------------------------------------------------------------- */
table {
  width: 100%;
}

.wp-block-table {
  line-height: 2;
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table tr {
  border: none;
  vertical-align: top;
}

.wp-block-table th {
  font-weight: 600;
}

.wp-block-table tr {
  border-top: 1px solid #eee;
}

.wp-block-table tr:last-of-type {
  border-bottom: 1px solid #eee;
}

.wp-block-table tbody {
  border-bottom: 1px solid #eee;
}

.wp-block-table.is-style-stripes {
  border-bottom-width: 0;
}

/* Galleries
---------------------------------------------------------------------------- */
.wp-block-gallery .blocks-gallery-item {
  margin-bottom: 16px;
}

/* Category Block
---------------------------------------------------------------------------- */
.wp-block-categories ul {
  margin-left: 0;
  padding-left: 0;
}

.wp-block-categories li {
  list-style-type: none;
}

.wp-block[data-align=right] .wp-block-categories__list {
  text-align: right;
}

.wp-block[data-align=full] .wp-block-categories__list {
  padding: 0 30px;
}

/* Latest Posts Block
---------------------------------------------------------------------------- */
.wp-block-latest-posts {
  margin-left: 0;
  padding-left: 0;
}

.wp-block-latest-posts li {
  list-style-type: none;
}

.wp-block[data-align=center] .wp-block-latest-posts {
  text-align: center;
}

.wp-block[data-align=full] .wp-block-latest-posts {
  padding: 0 30px;
}
/*# sourceMappingURL=style-editor.css.map */